<!-- I'm learning about priorities in CSS. Classes override styles applied to element properties in css -->
<style>
  body {
    background-color: black;
    font-family: monospace;
    color: green;
  }

  .pink-text {
    color: pink;
  }
</style>

<h1 class="pink-text">Hello World!</h1>
