<!-- I am learning more about browser compatibility and using fallback properties to ensure the page, across browsers, will display as intended. -->
<style>
  :root {
    --red-color: red;
  }
  .red-box {
    background: red;
    background: var(--red-color);
    height: 200px;
    width:200px;
  }
</style>
<div class="red-box"></div>
